@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: Montserrat, sans-serif;
  color: white;
  margin: 0;
}

.cursor-pointer {
  cursor: pointer;
}
